.idea/
\!_local/
.DS_Store
node_modules
.idea
*.com
*.class
*.diff
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.iso
*.jar
*.rar
*.log
*.sql
*.sqlite
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.bak
*.tar.gz
*.zip
*.tar
*.gz
*.swp
LocalDistribution
DeployDistribution
DeployDistributionAdvanced
DeployDistributionAdvancedSS2
LocalDistributionAdvanced
Extras
.nsdeploy
payload.json
package.json
package-lock.json
.git
tmp
nsdeploy-configs.txt
.yo-rc.json
TODO.md
misc/
gulp/
distro.json
gulpfile.js
.env
ns_npm_repository/